<!-- include header -->
<%- include('includes/header') %>

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <!-- include sign in -->
      <%- include('sign_in') %>

      <!-- include sign up -->
      <%- include('sign_up') %>
    </div>
  </div>
  <!-- include panel -->
  <%- include('includes/panel') %>
</div>

<!-- include footer -->
<%- include('includes/footer') %>
